/* selector universal */

* {
   margin: 0;
   padding: 0;


}

/* selector de etiqueta */

body{
  background-color: antiquewhite;
  color: white;


}
 /* selector id */
 #contenedor {
        width: 900px;
        height: 2000px;
        background-color: blue;
        margin: 10px;
        padding: 20px;


 }

 #encabezado {
    width: 90%;
    background-color: blanchedalmond;
    margin: 1em;
    border-radius: 5px;
    text-align: center;


 }
 #menu {
    height: 40px;
    background-color: beige;
    margin: 1em;
    border-radius: 5px;
 }
  /* selector de etiqueta para el menu */

  ul {
        text-align: center;
        padding: 10px;

  }

  li{
        display: inline;
        padding: 10px 30px;
        margin: 3em;

  }
 img:hover{
    width: 50%;
 }
  li a:hover {

    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
  }

  /* selector de clase  */

 .img {
   width: 50%;
   border-radius: 30px;
   justify-items: center;
   

 } 
 
 .texto {
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   padding: 5px 25px;
   color: white
 }

 #pie {

    height: 60px;
    background-color: dimgray;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
 }

 #pie h4{
    padding: 15px;
    font-size: 30px;
    color: bisque;
 }

 /* card  */
 .card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;
   border : .5px solid;
 }
 
 .title {
   color: grey;
   font-size: 18px;
 }
 
 button {
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 

 
 button:hover, a:hover {
   opacity: 0.7;
 }


 